.header {
  background-color: var(--background-light);
  padding-block: var(--s0);
  color: var(--text-dark);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.boxShadow {
  box-shadow: var(--box-shadow);
}

.headerWrap {
  composes: wrap from "@/styles/Wrap.module.css";
}

.headerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevron {
  width: 15px;
  height: 15px;
  transform: rotate(180deg);
  margin-block-start: 4px;
  transition: transform 0.2s ease;
}

.dropdown {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: var(--s-2);
}

.dropdownContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  top: 65px;
  left: 0;
  z-index: 8;
  background-color: var(--background-light);
  box-shadow: 0 6px 10px var(--color-shadow);
  transition: all 0.2s ease-in-out;
  padding: var(--s1);
  opacity: 0;
  visibility: hidden;
  box-sizing: content-box;
}

.dropdown:hover .dropdownContent {
  opacity: 1;
  visibility: visible;
}

.dropdown:hover .chevron {
  transform: rotate(0);
}

.dropdownContent li {
  border-inline-end: 1px solid var(--secondary);
  padding-inline: var(--s0);
}

.dropdownContent li:last-child {
  border-inline-end: none;
}
@media (max-width: 768px) {
  .dropdown:hover .dropdownContent {
    opacity: 0;
    visibility: hidden;
  }

  .dropdown:hover .chevron {
    transform: rotate(180deg);
  }

  .dropdownOpen .dropdownContent {
    opacity: 1 !important;
    visibility: visible !important;
  }

  .dropdownOpen .chevron {
    transform: rotate(0) !important;
  }
}

@media (max-width: 550px) {
  .headerWrap {
    --wrap-justify: center;
  }
}

@media (max-width: 419px) {
  .dropdownContent {
    top: 115px;
  }
}
