.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.borderTitle {
  position: absolute;
  top: -12px;
  right: 15px;
  background-color: var(--background-light);
  padding-inline: 0.5rem;
  transition: all 0.2s ease;
}

input:focus + .borderTitle {
  font-size: 0.8rem;
  top: -6px;
}
