.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-block-start: 5rem;
}

.layout > *:nth-child(1) {
  flex-grow: 1;
}

.layout > *:last-child {
  flex-shrink: 0;
}

@media (max-width: 400px) {
  .layout {
    padding-block-start: 9.3rem;
  }
}
