.calculatorsCtaBackground {
  position: relative;
  color: var(--text-dark);
}

.switcher {
  composes: switcher from "@/styles/Switcher.module.css";
  gap: var(--s3);
  align-items: center;
  /* margin-block-start: var(--s4); */
}

.switcher > * {
  flex-basis: calc((40rem - 100%) * 999);
}

.switcherRowReverse {
  flex-direction: row-reverse;
}

.stack {
  composes: stack from "@/styles/Stack.module.css";
}

.stack > * + * {
  --stack-space: var(--s4);
}

.innerStack > * + * {
  --stack-space: var(--s2);
}

.title {
  display: flex;
  flex-direction: column;
  color: var(--text-dark);
}

.animalGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.blob {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.animalGrid img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  object-fit: contain;
  z-index: 1;
}

.blob {
  composes: blob from "@/styles/Blob.module.css";
}

.shapedivider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shapedivider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.shapedivider svg path {
  fill: var(--primary);
}

.linkBtn {
  composes: linkBtn from "@/styles/LinkBtn.module.css";
}

.ctaImg {
  object-fit: contain;
  margin-inline: auto;
}
